{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
        {{ category.description|truncatewords:155 }}
  {% else %}
        Welcome to PlantLovers...Explore exotic variety of indoor and outdoor plants
  {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name}}-PlanLovers.in
    {% else %}
        Explore our new collection - PlantLovers.in
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shopapp:allPodCat' %}">Our  Plants Collection  </p>
        </div>
    </div>
{% endif %}
<div class="mx-auto">
    {% if category %}
       <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
      <h1 class="text-center my_title">{{category.name}}</h1
        <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products">
</div>
<br>
<div>
       <h1 class="text-center my_title">Our Plants Collections</h1>
       <p class="text-justify">A one-stop shop for everything houseplants. Choose from our large collection of small to large indoor plants. Succulents, Airplants, Cacti, Aloe, ...Grow Your Dream Green Space Or Garden With Our Range Of Stunning Plants. Best Place to Buy Plants. All of our plants are sustainable and designed to live long, healthy lives. We give you personal tips and tricks along your plant journey. Visit PlantLovers.in and Order Today.
</p>
</div>
    {% endif %}
<div class="container">
    <div class="card-deck">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="my bottom margin col-9 col-lg-4 col-sm-6 mb-4 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width: 18rem;">
                <div class="card-block">
                    <a href="{{product.get_url}}"><img class = "card-img-top my_image"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p style="color:green;"><b>₹{{product.price}}</b></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}" >{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    </br>
</div>
{% endblock %}